* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (min-whidth: 576px) {
  .vid2 {
    display: none; } }

.vid1 {
  display: flex;
  align-items: center;
  padding: 11px; }

.vid2 {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 35px; }

.acc {
  margin: 22px;
  padding: 14px; }

.bic {
  margin: 22px;
  padding: 14px; }

.bic {
  grid-row: auto;
  justify-content: space-around;
  width: 350px;
  height: 350px; }

.vid2 {
  width: 300px;
  height: 400px; }

/*.map{
  @extend %estiloMap
}*/
.map {
  display: inline-flex;
  justify-content: space-around;
  width: 650px;
  height: 500px; }

.bottom {
  background-color: #bbb18d; }

h5 {
  color: thistle;
  background-color: #383b53; }

h3 {
  color: #ffffff;
  font-size: 25px; }

p {
  text-align: center;
  font-size: 35px; }

.head .logo {
  margin: 2px;
  padding: 10px;
  height: 280px; }

.head .llegada {
  height: 250px;
  margin: 19px;
  z-index: 2; }

.head .colHead {
  background-color: #4e333a;
  height: 25vh; }

.head .p {
  font-size: 20px;
  color: white;
  margin: 36px;
  display: flex;
  justify-content: right; }

.altura1 {
  height: 30vh; }

.altura2 {
  height: 55vh; }

.altura3 {
  height: 15vh; }

@media (max-whidth: 576px) {
  .logo {
    margin: 2px;
    padding: 10px;
    height: 150px; }
  .vid2 {
    width: 382px;
    height: 243px; }
  .llegada {
    height: 150px;
    margin: 19px;
    z-index: 2; } }

.colMain {
  background-color: #d4d6b9; }

.colFoot {
  background-color: #383b53;
  height: 10vh; }

.footerSocial a {
  text-align: center;
  color: #020202;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 10px;
  transition: transform 0.5s;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2rem; }

.footerSocial a:hover {
  transform: scale(1.7);
  text-align: center;
  color: #c94b3a; }

.footerText {
  font-stretch: condensed;
  text-align: center;
  color: thistle; }

.menuFooter li a {
  color: #020101;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 6px; }

.menuFooter li:hover {
  background-color: #d1cab1;
  box-shadow: 3px 3px #272012; }

.colBar {
  background-color: #777672; }
