* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.vid1 {
  display: flex;
  align-items: center;
  padding: 11px;
  max-width: 90%; }

.vid2 {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 19px;
  max-width: 90%; }

.acc {
  margin: 22px;
  padding: 14px; }

.bic {
  margin: 22px;
  padding: 14px; }

.bic {
  grid-row: auto;
  justify-content: space-around;
  max-width: 90%;
  max-height: 90%; }

.map {
  display: inline-flex;
  justify-content: space-around;
  max-width: 650px;
  max-height: 500px; }

.bottom {
  background-color: #bbb18d; }

h5 {
  color: thistle;
  background-color: #383b53; }

h3 {
  color: #ffffff;
  font-size: 25px; }

p {
  text-align: center;
  font-size: 35px;
  margin-bottom: 0; }

.pMap {
  display: inline-block;
  text-align: right; }

.logoGrande {
  display: inline-block;
  max-width: 300%;
  margin: 25px;
  justify-content: space-around; }

.texto {
  font-family: "Times New Roman", Times, serif;
  color: #643a09;
  line-height: 1.5;
  font-size: 1.5rem; }

.head .logo {
  margin: 2px;
  padding: 10px;
  height: 100%; }

.head .llegada {
  height: 95%;
  margin: 5px; }

.head .colHead {
  background-color: #4e333a;
  height: 25vh; }

.head .p {
  font-size: 20px;
  color: white;
  margin: 36px;
  display: flex;
  justify-content: right; }

.colMain {
  background-color: #d4d6b9; }

.colFoot {
  background-color: #383b53;
  height: 10.5vh; }

.footerSocial a {
  color: #96c5d8;
  text-align: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 10px;
  transition: transform 0.5s;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2rem;
  padding-left: 0; }

.footerSocial a:hover {
  transform: scale(1.7);
  text-align: center;
  color: #1a7ca3; }

.colBar {
  background-color: #777672; }

.head .p {
  margin: 10px; }

.footerText {
  font-stretch: condensed;
  text-align: center;
  color: #ffffff;
  transition: transform 0.2s; }
  .footerText:hover {
    color: #d2d8a8;
    transform: scale(1.5);
    border-bottom: 20%;
    padding-bottom: 10px; }

.dl, ol, ul {
  margin-bottom: 0;
  background-color: #383b53;
  background-color: #383b53;
  list-style-type: none;
  display: inline-flex;
  flex-direction: row; }

.dropdown-item {
  color: #c9ae95;
  font-size: 1.3rem; }

.navbar-light .navbar-nav .nav-link {
  color: #d6a06d; }

.navbar-light .navbar-brand {
  color: #d6a06d;
  background-color: #383b53;
  margin: 5px;
  padding: 3px;
  font-size: 1.5rem; }
