.vid1 {
  display: flex;
  align-items: center;
  padding: 11px;;
  max-width: 90%
}

.vid2 {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 35px;
  max-width: 90%;
}

.acc {
  margin: 22px;
  padding: 14px;
}

.bic {
  margin: 22px;
  padding: 14px;
}

.bic {
  grid-row: auto;
  justify-content: space-around;
  max-width: 90%;
  max-height: 90%;
}

.map {
  display: inline-flex;
  justify-content: space-around;
  max-width: 650px;
  max-height: 500px;}


.bottom {
  background-color: rgb(187, 177, 141);
}

h5 {
  color: thistle;
  background-color: rgb(56, 59, 83);
}
h3 {
  color: $redes;
  font-size: 25px;
}
p {
  text-align: center;
  font-size: 35px;
  margin-bottom: 0;
}
.pMap{
display: inline-block;
text-align: right;
}

.ul{
  margin-bottom: 0;
}
.logoGrande{
  display: inline-block;
  max-width: 300%;
  margin: 25px;
  justify-content: space-around;

}
