.head {
  .logo {
    margin: 2px;
    padding: 10px;
    height: 100%;
  }

  .llegada {
    height: 95%;
    margin: 5px;
  }
  .colHead {
    background-color: $head;
    height: 25vh;
  }
  .p {
    font-size: 20px;
    color: white;
    margin: 36px;
    display: flex;
    justify-content: right;
  }
}
