.head{
    
    .logo {
        margin: 2px;
        padding: 10px;
        height: 280px;
        }
      
      .llegada {
        height: 250px;
        margin: 19px;
        z-index: 2;
      }
      .colHead {
        background-color: $head;
        height: 25vh;
      }
      .p {
        font-size: 20px;
        color: white;
        margin: 36px;
        display: flex;
        justify-content: right;
        }
}
.altura1 {
    height: 30vh;
  }
  
  .altura2 {
    height: 55vh;
  }
  
  .altura3 {
    height: 15vh;
  }